.square {
  height: 33vh;
  width: 33vw;
  background-color: blue;
}

@media (max-width: 1024px) {
  .square {
    height: 66vh;
    width: 66vw;
    background-color: red;
  }
}

@media (max-width: 600px) {
  .square {
    height: 100vh;
    width: 100vw;
    background-color: orange;
  }
}
